@import "~bootstrap/scss/bootstrap";

#heRow {
  height: 45vh;
  text-align: center;
  background: #000;
}

#logo {
  width: 300px;
  height: 200px;
  position: absolute;
}

#welcome {
  padding-top: 10rem;
}